*{
    margin: 0;
    padding: 0;
}
:root{
    /* les couleurs */
    --couleur-voiture:rgb(255, 136, 0);
    --couleur-vitre-voiture:grey;
    --couleur-roue-voiture:rgb(69, 69, 69);

    --couleur-ciel:skyblue;
    --couleur-sun:rgba(255, 221, 0, 0.8);
    
    
    --couleur-trait-route:red;
    --couleur-bord-route:red;
    --couleur-route:red;
    
    
    /* --couleur-fond-montagne:red; */
    

    /* route */
    --angle-route:23deg;
    --hauteur-route:100px;
    --bottom-route:10px;

    --bottom-hauteur-bord-bas-route:0px;
    --bottom-hauteur-bord-haut-route:calc(var(--bottom-route) + var(--hauteur-route));
    --hauteur-bord-bas-route:var(--bottom-route);
    --hauteur-bord-haut-route:4%;
    

    /* voiture */
    --taille-voiture-hauteur:80px;
    --taille-voiture-largeur:150px;
    --bottom-voiture:80px;
    --left-voiture:80px;
    --bottom-composant-voiture:5px;
    
    --largeur-arriere-voiture:40%;
    --largeur-milieu-voiture:25%;
    --largeur-avant-voiture:35%;

    --hauteur-arriere-voiture:45%;
    --hauteur-milieu-voiture:80%;
    --hauteur-avant-voiture:55%;

    --left-arriere-voiture:0px;
    --left-milieu-voiture:calc(var(--largeur-arriere-voiture) + var(--left-arriere-voiture));
    --left-avant-voiture:calc(var(--left-milieu-voiture) + var(--largeur-milieu-voiture));

        /* roue */
    --taille-roue-voiture:30px;
    --position-roue-avant:10%;
    --position-roue-arriere:10%;

    /* montagne */
    --bottom-hauteur-montagne:calc(var(--bottom-hauteur-bord-haut-route) + var(--hauteur-bord-haut-route));
    --hautaur-montagne:40%;

    --couleur-montagne:#249e49;
    --couleur-ombre-montagne:#357639;

    
    --couleur-montagne2:#187a35;
    --couleur-ombre-montagne2:#295c2c;

    --couleur-montagne-pierre:#6f8375;
    --couleur-ombre-montagne-pierre:#333534;

    --couleur-montagne-pierre2:#546258;
    --couleur-ombre-montagne-pierre2:#262827;

    --couleur-neige:#dddddd;
    --couleur-ombre-neige:#c3c3c3;
}

html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(217deg, var(--couleur-sun), rgba(255,0,0,0) 6.71%), /*sun*/
                linear-gradient(180deg, var(--couleur-ciel), white);
}